<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/70073b8ae5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilosLogin.css">
    <title>NotSoPonzi</title>
  </head>
  <body>
  <header>
    <nav class="navbar navColor">
      <div class="container-fluid">
        <a class="navbar-brand navTextColor" href="#">
          <img src="/img/NOT_SO_PONZI-removebg-recortado.png" alt="" width="60" height="30" class="d-inline-block align-text-top navTextColor imagen">
          NotSoPonzi
        <a>
        
        <nav class="navbar navbar-expand-lg navTextColor">
          <button class="navbar-toggler colorbutton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid">
            <div class="collapse navbar-collapse navTextColor" id="navbarNav">
              <ul class="navbar-nav navTextColor">
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="#">FCI Acciones</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="#">FCI Granos</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="#">NSP Solar Coin</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="#"></a> 
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
              </nav>
         
        </header>
    </section>
          
            <div class="container-fluid ps-md-0">
              <div class="row g-0">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
                <div class="col-md-8 col-lg-6">
                  <div class="login d-flex align-items-center py-5">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                          <h3 class="login-heading mb-4 color">Bienvenido!</h3>
            
                     
                          

                          <form>

                            
                            <div class="form-floating mb-3">
                              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                              <label for="floatingInput">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                              <label for="floatingPassword">Contraseña</label>
                            </div>
            
                            <div class="form-check mb-3">
                              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                              <label class="form-check-label" for="rememberPasswordCheck">
                                Recordar Contraseña
                              </label>
                            </div>
            
                            <div class="d-grid">
                              <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Ingresar</button>
                              <div class="text-center">
                                <a class="small" href="#">¿Olvidaste la contraseña?</a>
                              </div-->
                            </div>
            
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
    </section>
    <footer class="secondaryStyle">
      <a href=""><i class="fa-brands fa-facebook redes"></i></a>
      <a href=""><i class="fa-brands fa-instagram redes"></i></a>
      <a href=""><i class="fa-brands fa-twitter redes"></i></a>
  </footer>
</body>
</html>