<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/70073b8ae5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>NotSoPonzi</title>
</head>
<body class="mainStyle">
    <header class="">
      <nav class="navbar navColor">
        <div class="container-fluid">
          <a class="navbar-brand navTextColor" href="#">
            <img src="/img/NOT_SO_PONZI-removebg-recortado.png" alt="" width="60" height="30" class="d-inline-block align-text-top navTextColor imagen">
            NotSoPonzi
          </a>
          <nav class="navbar navbar-expand-lg navTextColor">
            <div class="container-fluid">
              <div class="collapse navbar-collapse navTextColor" id="navbarNav">
                <ul class="navbar-nav navTextColor">
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="#">FCI Acciones</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="#">FCI Granos</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="#">NSP Solar Coin</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="#">Ingresar</a> 
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
                </nav>
    </header>
    <section>
      <div class="conteiner">
      <div class="row product">
        <div class="col-6">
          <h2>Fondo Común de Inversión</h2>
          <h3>¿Qué es un Fondo Común de Inversión?</h3>
          <p>Un Fondo Común de Inversión es un vehículo mediante el cual un grupo de personas, con un similar perfil y objetivo de inversión, aportan su dinero para que un profesional lo administre, invirtiendo en una cartera diversificada de activos.</p>
          <h3>5 razones para invertir en Fondos</h3>
          <p>1) Administración activa y profesional <br>
            Un equipo profesional analiza el mercado y toma las decisiones correctas para alcanzar el objetivo del fondo. <br>
            2) Diversificación <br>
            Tu capital está invertido en distintos instrumentos financieros, minimizando el riesgo. <br>
            3) Transparencia <br>
            Nuestros fondos están regulados por la CNV. <br>
            4) Fácil acceso <br>
            Accedés de manera directa a distintas alternativas de inversión en un mismo producto. <br>
            5) Liquidez <br>
            Disponés de tu dinero de manera ágil y rápida (en el día, en 24, 48 o 72hs hábiles).
          </p>

        </div>
        <div class="col-6">
          <img class="inversionesImagen" src="/img/imgFCI.png" alt="imagen">
        </div>
        <div class="col-6">
          <img class="inversionesImagen" src="/img/duotone(1).png" alt="imagen">
        </div>
        <div class="col-6">
          <h2>FCI Granos</h2>
          <h3>Que es el FCI Granos</h3>
          <p>Con el FCI Granos participa como cuotapartista en el Fideicomiso FCIC Granos que está llevando adelante el negocio de producción de cereales y oleaginosas desde hace más de 15 años. Se encuentra en su 19va campaña con 33.000 hectáreas de diferentes cultivos y diversificados en más de 60campos ubicados en seis zonas logrando una distribución regional diversificada y balanceada.</p>
          <h3>¿Por qué invertir en el Fondo Común de Inversión Granos?</h3>
          <p>1) Posibilidad de incorporarse a un proyecto de economía real <br>
          Integrando pesos linkeados al dólar y utilizando estrategias financieras que permiten lograr cobertura. <br>
          2) Único FCI en el mercado de siembras <br>
          Va por su tercera ronda en el mercado de capitales. <br>
          3) Socios y operadores de trayectoria <br>
          Expreriencia probada en el rubro agricola.
          </p>
        </div>
        <div class="col-6">
          <h2>NSP Solar Coin</h2>
          <h3>¿Que es Solar Coin?</h3>
          <p>La NSP Solar Coin es la primera cripto  del mercado basada en la generación de energía eléctrica fotovoltaica. invirtiendo en en la misma apostas a un proyecto eficiente eficaz y sustentable de generación eléctrica con paneles solares, dispuestos en sitios estratégicamente pensados para poder sacar la mayor potencia en Kw. Solar Coin es una criptomoneda creada para invertir en proyectos de generación eléctrica fotovoltaica</p>
          <h3>¿Porque invertir en Solar Coin?</h3>
          <p>1) Posibilidad de incorporarse a un proyecto ya funcionando <br>
          Proyectos ya funcionando con flujo de ingresos positivos diseñados para escalarlos. <br>
          2) Única criptomoneda de generación Solar <br>
          Exclusiva cripto en el mercado con fines de generación eléctrica Ecológica. <br>
          3) Socios y operadores de trayectoria <br>
          Experiencia probada en el mundo blockchain.           
          </p>
        </div>
        <div class="col-6">
          <img  class="inversionesImagen" src="/img/duotone(4).png" alt="imagen">
        </div>
      </div>
      </div>
    </section>
    <footer class="secondaryStyle">
        <a href=""><i class="fa-brands fa-facebook redes"></i></a>
        <a href=""><i class="fa-brands fa-instagram redes"></i></a>
        <a href=""><i class="fa-brands fa-twitter redes"></i></a>
    </footer>
</body>
</html>