.mainStyle{
    background-color: #32d811;
    color: #b6b2b2;
}
.secondaryStyle{
    background-color: #030114;
    text-align: right;
}
.navLogo{
    width: 15vw;
    margin: 30px;
}
.botonesNav{
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0rem 1rem 1rem 0rem;
    width: 8rem;
    background: #70f637;
    font-size: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.textoBotonesNav{
    color: #faf9fc;
    text-decoration: none;
}
.textoBotonesNav:hover{
    background-color: rgba(000,000,000,0.1);
    color:#f8f4f4;
}
.altoCarrusel{
    max-height: 70vh;
}
.textoCarrusel{
    text-shadow: 2px 2px 5px #030114,0px 0px 5px #030114,-2px -2px 5px #030114
}
.inversionesImagen{
    height: 30vh;
    width: 30vw;
}
.redes{
    font-size: 50px;
    margin: 30px;
    color: #f8f4f4;
    }
.felx{
    display: flex;
    flex-direction: row;
}
body {
    background: #050607;
    background: linear-gradient(to right, #1b1b1b, #2ccc17);
  }

  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #2452bd;
  }
  .navColor{
    background-color: #030114;
}
.navTextColor{
    color: #f8f4f4; 
}
.navTextColor:hover{
    color: #f8f4f4; 
}
.navTextColor:visited{
    color: #f8f4f4; 
}
.colorbutton{
    background-color: #e9ecf3;
}
.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-size: cover;
    background-position: center;
  }
  
  

  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #030114;
  }

  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('');
    background-size: cover;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }
  .login {
    min-height: 100vh;
  }
  
  
  .login-heading {
    font-weight: 300;
  }
  
  .small{
    color:#f8f4f4;
  }

  /*.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }*/