.mainStyle{
    background-color: #f8f4f4;
    color: #030114;
}

.secondaryStyle{
    background-color: #030114;
    text-align: right;
}

.fixed{
    position: fixed;
}

.navLogo{
    width: 20vw;
    margin: 30px;
}

.navColor{
    background-color: #030114;
}

.navTextColor{
    color: #f8f4f4; 
}

.navTextColor:hover{
    color: #f8f4f4; 
}

.navTextColor:visited{
    color: #f8f4f4; 
}

.altoCarrusel{
    max-height: 70vh;
}

.textoCarrusel{
    text-shadow: 2px 2px 5px #030114,0px 0px 5px #030114,-2px -2px 5px #030114;
}

.inversionesImagen{
    height: auto;
    width: 100%;
}

.redes{
font-size: 50px;
margin: 30px;
color: #f8f4f4;
}

.vph75{
    height: 75vh;
}

.vh60{
    height: 60vh;
    padding: 25px;
}

.vh70{
    height: 70vh;
    padding: 25px;
}

.align{
    align-items: center;
    justify-content: center;
}

.mr{
    margin: 0px, 0px, 0px, 0px,;
}

#inversiones h5{
    padding: 10px;
    text-align: center;
}

#inversiones p{
    padding: 10px;
}

/* css productos */
.product{
    padding: 20px;
}

/*
.container {
    display: flex;
}

.textoInversiones{
    text-align: justify;
    padding: 10px;;
}

/*
.conteiner{
    margin: 2px 0 2px;
}


.inversionesImagen{
    width: 104vh;
}
*/

/* CSS Perfil */ 

.imgPerfil{
    font-size: 160px;
    color: #23da5a;
}

.card{
    color: #f8f4f4;
    background-color: #030114;
    border-radius: 8px;
    max-width: 28%;
    margin: 15px, 0px, 15px, 0px;
}

.cardIcon{
    font-size: 100px;
    color: #23da5a;
    margin: 20px;

}

.colorButton{
    background-color: #23da5a;
    color: #030114;
}

.carteraCentrado{
    text-align: center;
}

.alignC{
    justify-content: space-around;
}

.marginContainer{
    margin: 15px, 0px, 15px, 0px;
    padding: 15px, 0px, 15px;
}

.alignTextPerfil{
    text-align: center;
}
.fontSize{
    font-size: 20px;
}
