<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<form action="/producto/editar/<%=activo.id%>?_method=PUT" method="POST">
    

    <label for="">nombre</label>
    <input type="text" name="nombre" value="<%=activo.nombre%>">
    <br>
    <label for="">tipo</label>
    <input type="text" name="tipo" value="<%=activo.tipo%>">
    <br>
    <label for="">Descripción</label>
    <input type="text" name="descripcion" value="<%=activo.descripcion%>">
    <br>
    <button type="submit">Editar</button>
    <button type="submit">Eliminar</button>
</form>


<body>
    
</body>
</html>