<footer class="secondaryStyle">
    <a href=""><i class="fa-brands fa-facebook redes"></i></a>
    <a href=""><i class="fa-brands fa-instagram redes"></i></a>
    <a href=""><i class="fa-brands fa-twitter redes"></i></a>
</footer>