<header class="">
    <nav class="navbar navColor">
      <div class="container-fluid">
        <a class="navbar-brand navTextColor" href="/">
          <img src="/img/NOT_SO_PONZI-removebg-recortado.png" alt="" width="60" height="30" class="d-inline-block align-text-top navTextColor">
          NotSoPonzi
        </a>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler navButtonColor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon navButtonColor"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav navTextColor">
                <% if(!locals.isLogged) { %>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/">Inicio</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/producto">Productos</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/login">Ingreso</a> 
                </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="/">Inicio</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="/producto">Productos</a> 
                  </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/perfil">Perfil</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/administrador">Administrador</a> 
                </li> 
                
          <!--      
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="/">Inicio</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="/producto">Productos</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navTextColor" href="/login">Ingreso</a> 
                  </li>
               <li class="nav-item">
                  <a class="nav-link navTextColor" href="/perfil">Perfil</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/administrador">Administrador</a> 
                </li>
        -->        
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      </nav>
  </header>
  <div class="navBack">
  </div>