<header class="">
    <nav class="navbar navColor">
      <div class="container-fluid">
        <a class="navbar-brand navTextColor" href="/">
          <img src="/img/NOT_SO_PONZI-removebg-recortado.png" alt="" width="60" height="30" class="d-inline-block align-text-top navTextColor">
          NotSoPonzi
        </a>

  
        
        <nav class="navbar navbar-expand-lg navTextColor">
          <div class="container-fluid">
            <div class="collapse navbar-collapse navTextColor" id="navbarNav">
              <ul class="navbar-nav navTextColor">
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/">Inicio</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/producto">Productos</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/login">Ingreso</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/perfil">Perfil</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link navTextColor" href="/administrador">Administrador</a> 
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      </nav>
  </header>
  <div class="navBack">
  </div>